In [2]:
import sys
sys.path.append("..")

import pyadlml.dataset.kasteren as kasteren

In [3]:
sensorData = "/home/chris/code/adlml/datasets/kasteren/kasterenSenseData.txt"
activityData = "/home/chris/code/adlml/datasets/kasteren/kasterenActData.txt"

data = kasteren.load(sensorData, activityData)

In [4]:
# print the dataframe

data.df_activities

             start_time            end_time      activities
0   2008-02-25 19:40:26 2008-02-25 20:22:58  prepare Dinner
1   2008-02-25 20:23:12 2008-02-25 20:23:35       get drink
2   2008-02-25 21:51:29 2008-02-25 21:52:36      use toilet
3   2008-02-25 23:21:15 2008-02-26 09:15:30       go to bed
4   2008-02-25 23:28:30 2008-02-25 23:29:14      use toilet
..                  ...                 ...             ...
232 2008-03-21 09:42:28 2008-03-21 15:51:38     leave house
233 2008-03-21 15:51:58 2008-03-21 15:53:10      use toilet
234 2008-03-21 17:03:48 2008-03-21 18:05:18       go to bed
235 2008-03-21 18:24:24 2008-03-21 18:25:05      use toilet
236 2008-03-21 19:10:36 2008-03-23 19:04:58     leave house

[237 rows x 3 columns]

In [5]:
data.df_devices

              start_time            end_time  val              device
0    2008-02-25 00:20:14 2008-02-25 00:22:57    1   Hall-Bedroom door
1    2008-02-25 09:33:41 2008-02-25 09:33:42    1   Hall-Bedroom door
2    2008-02-25 09:33:47 2008-02-25 17:21:12    1   Hall-Bedroom door
3    2008-02-25 09:36:43 2008-02-25 09:37:04    1    Hall-Toilet door
4    2008-02-25 09:37:20 2008-02-25 09:37:23    1  Hall-Bathroom door
...                  ...                 ...  ...                 ...
1314 2008-03-21 18:27:57 2008-03-21 18:27:58    1              Fridge
1315 2008-03-21 18:28:00 2008-03-21 18:28:01    1              Fridge
1316 2008-03-21 18:28:19 2008-03-21 18:28:20    1             Freezer
1317 2008-03-21 19:11:10 2008-03-21 19:11:14    1           Frontdoor
1318 2008-03-23 19:04:46 2008-03-23 19:04:47    1           Frontdoor

[1319 rows x 4 columns]

In [ ]:
# creates raw data from the two dataframes
data.create_raw()

# creates sequential data from the raw dataframe
data.createSequential()
data.df_seq

# convertes sequential data into the last fired representation
data.conv2lastFired()
data.df_lf

# convertes sequential data into the last fired representation
data.conv2Changed()
data.df_ch